.pay {
    position: relative;

    &:before {
        position: absolute;
        bottom: 0px;
        left: 21px;
        content: '';
        width: 538px;
        height: 437px;
        background-image: url(../img/lines-bg-left.png);
        pointer-events: none;
    }

    &:after {
        position: absolute;
        top: 22px;
        right: 20px;
        content: '';
        width: 538px;
        height: 478px;
        background-image: url(../img/lines-bg-right.png);
        pointer-events: none;
    }
    &__wrap {
        max-width: 930px;
        margin: 0 auto;
    }

    &__breadcrumbs {
        display: flex;
        justify-content: space-between;
        max-width: 858px;
        margin: 0 auto;
        &-item {
            position: relative;
            text-align: center;

            &:not(:last-of-type) {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 15px;
                    left: calc(100% + 35px);
                    width: 114px;
                    height: 1px;
                    background-color: #939393;
                }
            }

            

            svg {
                fill: #939393;
                height: 38px;
                display: flex;
                align-items: center;
                margin: 0 auto 16px;

            }

            p {
                margin: 0;
                color: #939393;
                font-size: 22px;
            }

            &.active {
                svg {
                    fill: #4C4ABE
                }

                p {
                    color: #4C4ABE;
                }
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 50px;
        font-family: @elmessiri;
        color: @purple;
        text-align: center;
        margin: 48px 0 49px;
    }

    &__text {
        font-weight: 600;
        font-size: 25px;
        color: #939393;
        margin: 0 0 43px;
        text-align: center;

        .result {
            font-family: @elmessiri;
            color: @purple;
            font-weight: 600;
            font-size: 50px;
            margin-left: 70px;
        }
    }

    &_success {
        padding-bottom: 165px;
     
        .pay__title {
            margin: 163px 0 39px;
            font-size: 70px;
        }

        .pay__text {
            margin: 0 0 52px;
        }

        .pay__link {
            display: block;
            margin: 0 auto;
            text-align: center;
            max-width: 265px;
            padding: 23px 0;
            border-radius: 2px;
        }
    }

}