.sale {
    padding: 70px 0 55px;
    .slider {
        margin: 0 -20px;

        .arrow {
            &_left {
                left: -8px;
            }

            &_right {
                right: -8px;
            }
        }
        
        .slick-list {
            padding-bottom: 20px;
        }
    }

    &__link {
        display: block;
        margin: 15px auto 0;
        max-width: 447px;
        padding: 24px 0;
        text-align: center;
    }
}